# Dependencies
node_modules/

# Build output
dist/

# Lock files
bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
*.log
npm-debug.log*

# Other Stuff
skills-lock.json
.agent/skills/typescript-best-practices/SKILL.md
.agents/skills/typescript-best-practices/SKILL.md
.claude/skills/typescript-best-practices/
.kilocode/
.kiro/
.sisyphus/
